:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family:
    ui-sans-serif, system-ui, -apple-system, "Segoe UI", Helvetica, Arial,
    sans-serif;
}

main {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}
